---
title: About Hachyderm
linkTitle: About
menu:
  main:
    weight: 10
---


{{< blocks/cover title="About Hachyderm" image_anchor="bottom" height="min" color="blue">}}
<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="https://hachyderm.io">
  Sign-up Today
</a>
<p class="lead mt-5">A free and open source social media service <a href="https://joinmastodon.org/" target="_blank">powered by Mastodon</a>.</p>


{{< /blocks/cover >}}


{{% blocks/lead %}}
<div class="col-12">
  <h1 class="text-center">Your Timeline</h1>
</div>
<p></p>
<p>
  Your home timeline and feed will be influenced by other members of the same instance.

  The more <a href="https://hachyderm.io/tags/hachyderm" target="_blank">#Hachydermians</a> that join and share content, the more technical content on your timeline.
</p>

{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
  <h1 class="text-center">Safe Space</h1>

<p class="text-center">
  Hachyderm is built on empathy and respect. We support margianlized communities.
</p>
<p class="text-center">
    We work hard to support black communities. We understand autism and neurodivergence.
</p>
<p class="text-center">
  We work hard to support queer, lesbian, gay, bisexual, and all members of the sexual attraction and identity alphabet.
</p>
</div>

{{< /blocks/section >}}

{{% blocks/lead %}}
<div class="col-12">
  <h1 class="text-center">Technical Professionals</h1>
</div>
<p class="text-center">
  We are home to thousands of technical professionals. We welcome newcomers to tech, as well as experts in their fields.

  Linux. Rust. Kubernetes. Go. Aurae. C Programming. Infrastructure. SRE. Security. OSINT. Economics. News. Pets. Hobbies.
</p>

{{% /blocks/lead %}}